h1 {
    color: purple;
    text-align: center;
}

a:link {
    color: black;
}

a:visited {
    color: purple;
}

a:active{
    color: blue;
}

h2 {
    color: purple;
    text-align: center;
}

p {
    color: purple;
}

h3 {
    color: purple;
}

ol li {
    color: darkcyan;
    padding: 5px;
    margin-left: 35px;
}

div {
    text-align:center;
}